﻿<style>
    body {
        background-color: #f3f3f4 !important;
    }
</style>
<div class="loginColumns animated fadeInDown">
    <div class="row">
        <div class="col-md-6">
            <h2 class="font-bold">WIT2FESS</h2>
            <p class="text-justify">
                WIT2FESS is a <b>W</b>eb-based <b>I</b>nterval <b>T</b>ype <b>2</b> <b>F</b>uzzy <b>E</b>xpert <b>S</b>ystem <b>S</b>hell which provides a prepared framework to design an expert system for non-AI experts. WIT2FESS is the first expert system shell that allows you to design an expert system utilized interval type 2 fuzzy sets.
            </p>
            <p>
                Register and enjoy making an expert system!
            </p>
        </div>
        <div class="col-md-6">
            <div class="ibox-content">
                <form class="m-t" role="form" action="index.html">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" ng-model="loginUser.Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" ng-model="loginUser.Password">
                    </div>
                    <a type="submit" class="btn btn-primary block full-width m-b" ng-click="Login()">Login</a>
                    <p class="text-muted text-center">
                        <small>Do not have an account?</small>
                    </p>
                    <a class="btn btn-sm btn-white btn-block" ui-sref="register">Create an account</a>
                </form>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            Copyright by Azam Orooji
        </div>
        <div class="col-md-6 text-right">
            <small>© 2019</small>
        </div>
    </div>
</div>