﻿<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="profile-element">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{fullName}}</strong>
                            </span>
                        </span>
                    </div>
                    <div class="logo-element">
                        <img src="/Resources/images/logo_white.png" />
                    </div>
                </li>
                <!--Menues-->
                <div ng-include="menuTempleteUrl" include-replace side-navigation></div>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg dashbard-1" style="min-height: 1167px;">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <span minimaliza-sidebar></span>
                    <div class="application-title">
                        WIT2FESS
                    </div>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a ng-click="Logout()">
                            Logout
                            <i class="fa fa-sign-out"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div ui-view></div>
        <div class="footer">
            <div class="pull-right">
                Copyright © 2019 by Azam Orooji
            </div>
        </div>
    </div>
</div>