﻿<style>
    body {
        background-color: #f3f3f4 !important;
    }
</style>
<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        <div>
            <h3 class="logo-name">FIS</h3>
        </div>
        <h3>Register</h3>
        <p>You can create your own account from here</p>
        <form class="m-t" role="form" action="login.html">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name" ng-model="registerUser.FirstName">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name" ng-model="registerUser.LastName">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" ng-model="registerUser.Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="registerUser.Password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password Confirmation" ng-model="registerUser.PasswordCopy">
            </div>
            <a class="btn btn-primary block full-width m-b" ng-click="CreateUser()">Register</a>
            <p class="text-muted text-center"><small>Already have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" ui-sref="home">Login</a>
        </form>
        <p class="m-t"> <small>Copyright © 2019 by Azam Orooji</small> </p>
    </div>
</div>