﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Design and Evaluate</h2>
        <ol class="breadcrumb">
            <li>
                Design and Evaluate
            </li>
            <li class="active">
                <strong>Evaluate</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row wrapper wrapper-content">
    <div class="animatingDiv" ng-class="{'col-md-6':evaluation.analyzationState!='done','col-md-12':evaluation.analyzationState=='done'}">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Test your system</h5>
                <div class="pull-right" ng-show="evaluation.analyzationState=='done'">
                    <a class="btn btn-xs btn-primary" ng-click="Initialize()">
                        Re-Evaluate
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <form role="form" ng-show="evaluation.analyzationState=='start'">
                    <div class="form-group">
                        <label>System: </label>
                        <select ng-model="evaluation.systemId" class="form-control">
                            <option ng-repeat="system in systems" value="{{system.SystemId}}">{{system.SystemName}}</option>
                        </select>
                    </div>
                    <div class="form-group" ng-show="evaluation.systemId">
                        <label>Dataset to upload</label>
                        <active-file-upload action-url="/api/User/UploadEvaluationData" ng-attr-title="{{evaluation.isReady? 'Change File':'Upload File'}}" start="UploadStarted()" success="UploadSuccessed()"></active-file-upload>
                    </div>
                    <div class='pull-right' ng-show="evaluation.isReady">
                        <a class="btn btn btn-success" ng-click="StartEvaluation()">Start Evaluation</a>
                    </div>
                </form>
                <div ng-show="evaluation.analyzationState=='creatingSystem'" class="text-center">
                    <h4>
                        Creating the System. Please Wait...
                    </h4>
                    <div class="m-lg">
                        <div class="sk-spinner sk-spinner-wandering-cubes">
                            <div class="sk-cube1"></div>
                            <div class="sk-cube2"></div>
                        </div>
                    </div>
                </div>
                <div ng-show="evaluation.analyzationState=='evaluating'" class="text-center">
                    <h4>
                        Evaluating the data. Please Wait...
                    </h4>
                    <div class="m-lg">
                        <div class="sk-spinner sk-spinner-rotating-plane">
                            <div class="sk-cube1"></div>
                            <div class="sk-cube2"></div>
                        </div>
                    </div>
                </div>
                <div ng-show="evaluation.analyzationState=='done'">
                    <canvas fis-chartjs chartdata="resultChart.chartdata" options="resultChart.options" type="line"></canvas>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>