﻿<div class="wrapper wrapper-content animated fadeIn">
    <iframe src="/Resources/docs/FuzzyType2.pdf" class="col-xs-12" style="height:500px" frameborder="0"></iframe>
    <div class="clearfix"></div>
</div>