﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Home</h2>
        <ol class="breadcrumb">
            <li>
                <a>User</a>
            </li>
            <li>
                <a>Home</a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h2>What is here for you?</h2>
                <br />
                <p>You can develop your expert system here based on interval type 2 fuzzy logic.</p>
                <p>WIT2FESS is a <b>W</b>eb-based <b>I</b>nterval <b>T</b>ype <b>2</b> <b>F</b>uzzy <b>E</b>xpert <b>S</b>ystem <b>S</b>hell which provides a prepared framework to design an expert system for non-AI experts. WIT2FESS is the first expert system shell that allows you to design an expert system utilized interval type 2 fuzzy sets.</p>
            </div>
        </div>
    </div>
</div>