﻿<li ui-sref-active="active">
    <a ui-sref="user.home">
        <i class="fa fa-home"></i>
        <span class="nav-label">Home</span>
    </a>
</li>
<li ng-class="{active: $state.includes('user.fuzzy1') || $state.includes('user.fuzzy2') || $state.includes('user.fuzzy3')}">
    <a>
        <i class="fa fa-book"></i>
        <span class="nav-label">Fuzzy Login</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse">
        <li ui-sref-active="active">
            <a ui-sref="user.fuzzy1">
                Fuzzy Type 1
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="user.fuzzy2">
                Fuzzy Type 2
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="user.fuzzy3">
                Fuzzy vs Boolean
            </a>
        </li>
    </ul>
</li>
<li ng-class="{active: $state.includes('user.systems') || $state.includes('user.evaluation')}">
    <a>
        <i class="fa fa-user"></i>
        <span class="nav-label">Design and Evaluate</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse">
        <li ui-sref-active="active">
            <a ui-sref="user.systems">
                Design an IT2FIS
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="user.evaluation">
                Evaluate an IT2FIS
            </a>
        </li>
    </ul>
</li>




