﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Design and Evaluate</h2>
        <ol class="breadcrumb">
            <li>
                Design and Evaluate
            </li>
            <li class="active">
                <strong>Design</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-3">
        <div class="title-action">
            <a class="btn btn-success btn-lg" ng-click="OpenEditOrAddSystem()">Add a new System</a>
        </div>
    </div>
</div>
<div class="row wrapper wrapper-content">
    <div ng-if="!systems || !systems.length">
        <div class="well m-t">
            <strong>You do not have any systems</strong><br />
            You can start making your systems by pressing the "Add" button
        </div>
    </div>
    <div class="animatingDiv" ng-class="{'col-md-12':variables[system.SystemId],'col-md-4':!variables[system.SystemId]}" ng-repeat="system in systems">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{system.SystemName}}</h5>
                <div class="pull-right">
                    <a class="btn btn-xs btn-primary" ng-click="ShowVariables(system.SystemId)" ng-if="!variables[system.SystemId]">
                        Show Detail
                    </a>
                    <a class="btn btn-xs btn-white" ng-click="HideVariables(system.SystemId)" ng-if="variables[system.SystemId]">
                        Hide Detail
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div ng-class="{'col-md-4':variables[system.SystemId]}">
                    <p>
                        <b>And Method:</b>
                        <span ng-if="system.AndMethod==0">Minimum</span>
                        <span ng-if="system.AndMethod==1">Product</span>
                    </p>
                    <p>
                        <b>Or Method:</b>
                        <span ng-if="system.OrMethod==0">Maximum</span>
                        <span ng-if="system.OrMethod==1">ProbabilisticOR</span>
                    </p>
                    <p>
                        <b>Implication Method:</b>
                        <span ng-if="system.ImplicationMethod==0">Minimum</span>
                        <span ng-if="system.ImplicationMethod==1">Product</span>
                    </p>
                    <p>
                        <b>Aggregation Method:</b>
                        <span ng-if="system.AggregationMethod==0">Maximum</span>
                        <span ng-if="system.AggregationMethod==1">ProbabilisticOR</span>
                        <span ng-if="system.AggregationMethod==2">Sum</span>
                    </p>
                    <p>
                        <b>Defuzzification Method:</b>
                        <span ng-if="system.DefuzzificationMethod==0">CentroidAverage</span>
                        <span ng-if="system.DefuzzificationMethod==1">Bisector</span>
                    </p>
                    <p>
                        <b>TypeReduction Method:</b>
                        <span ng-if="system.TypeReductionMethod==0">Karnik, Mendel</span>
                        <span ng-if="system.TypeReductionMethod==1">Wu, Tan</span>
                        <span ng-if="system.TypeReductionMethod==2">Greenfield, Chiclana, Coupland, John</span>
                    </p>
                    <div ng-class="{'pull-right':!variables[system.SystemId]}">
                        <a class="btn btn-sm btn-white" ng-click="OpenEditOrAddSystem(system.SystemId)">Edit System</a>
                        <a class="btn btn-sm btn-danger" ng-click="RemoveSystem(system.SystemId)">Delete System</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-8" ng-if="variables[system.SystemId]">
                    <b>Rules:</b>
                    <a class="btn btn-sm btn-success pull-right" ng-click="AddARule(system.SystemId)">
                        Add a Rule
                    </a>
                    <div class="clearfix"></div>
                    <div class="well m-t" ng-if="!rules[system.SystemId] || !rules[system.SystemId].length">
                        <strong>This system has no rules</strong><br />
                        You can add new rules to the systems by pressing the "Add" button
                    </div>
                    <uib-accordion close-others="false" ng-if="rules[system.SystemId] && rules[system.SystemId].length">
                        <uib-accordion-group ng-repeat="rule in rules[system.SystemId]">
                            <uib-accordion-heading>
                                Rule: {{$index+1}} ({{rule.RuleID}})
                            </uib-accordion-heading>
                            <div class="col-sm-8">
                                <div class="well m-t" ng-if="!rule.RuleMFs || !rule.RuleMFs.length">
                                    <strong>This rule has no relations</strong><br />
                                    You can add new relations by pressing the "Add" button
                                </div>
                                <table class="table table-striped" ng-if="rule.RuleMFs && rule.RuleMFs.length">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Variable</th>
                                            <th>Type</th>
                                            <th>MF</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="rmf in rule.RuleMFs">
                                            <td>{{$index+1}}</td>
                                            <td>{{rmf.VariableName}}</td>
                                            <td>
                                                <span ng-if="rmf.VariableType==0">Input</span>
                                                <span ng-if="rmf.VariableType==1">Output</span>
                                            </td>
                                            <td>{{rmf.MFName}}</td>
                                            <td>
                                                <a class="btn btn-xs btn-danger" ng-click="RemoveRMF(system.SystemId, rule.RuleID, rmf.MFId)">Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-4">
                                <a class="btn btn-xs btn-danger col-xs-12" ng-click="RemoveRule(system.SystemId, rule.RuleID)">Delete Rule</a>
                                <a class="btn btn-xs btn-primary col-xs-12" ng-click="OpenAddRelation(system.SystemId, rule.RuleID)">Add Relation</a>
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>
                    <br />
                    <b>Variables:</b>
                    <a class="btn btn-sm btn-success pull-right" ng-click="OpenEditOrAddVariable(system.SystemId)">
                        Add a Variable
                    </a>
                    <div class="clearfix"></div>
                    <div class="well m-t" ng-if="!variables[system.SystemId].length">
                        <strong>This system has no variable</strong><br />
                        You can add new variables to the systems by pressing the "Add" button
                    </div>
                    <uib-accordion close-others="true" ng-if="variables[system.SystemId].length">
                        <uib-accordion-group ng-repeat="variable in variables[system.SystemId]">
                            <uib-accordion-heading>
                                <span ng-if="variable.VariableType==0">Input {{$index+1}}: </span>
                                <span ng-if="variable.VariableType==1">Output: </span>
                                {{variable.VariableName}}
                            </uib-accordion-heading>
                            <div class="col-sm-8">
                                <!--<p>
                                    <b>Index :</b>
                                    <span>{{variable.VariableIndex}}</span>
                                </p>-->
                                <p>
                                    <b>Range :</b>
                                    <span>[{{variable.RangeMin}}-{{variable.RangeMax}}]</span>
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <a class="btn btn-xs btn-white col-xs-12" ng-click="OpenEditOrAddVariable(system.SystemId, variable.VariableID)">Edit Variable</a>
                                <a class="btn btn-xs btn-danger col-xs-12" ng-click="RemoveVariable(system.SystemId, variable.VariableID)">Delete Variable</a>
                                <a class="btn btn-xs btn-primary col-xs-12" ng-click="OpenEditOrAddMF(system.SystemId, variable.VariableID)">Add MF</a>
                            </div>
                            <div class="col-sm-12">
                                <b>Membership Functions:</b>
                                <div class="well m-t" ng-if="!variable.MFList || !variable.MFList.length">
                                    <strong>This variable has no membership function</strong><br />
                                    You can add a new membership function to the variable by pressing the "Add" button
                                </div>
                                <table class="table table-striped" ng-if="variable.MFList && variable.MFList.length">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Intervals</th>
                                            <th>FOU</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="mf in variable.MFList">
                                            <td>{{$index+1}}</td>
                                            <td>{{mf.MFName}}</td>
                                            <td>
                                                <span ng-if="mf.MFType==0">Triangle</span>
                                                <span ng-if="mf.MFType==1">Trapezoid</span>
                                            </td>
                                            <td>{{mf.Intervals}}</td>
                                            <td>{{mf.FOU}}</td>
                                            <td>
                                                <a class="btn btn-xs btn-white" ng-click="OpenEditOrAddMF(system.SystemId, variable.VariableID, mf.MFId)">Edit</a>
                                                <a class="btn btn-xs btn-danger" ng-click="RemoveMF(system.SystemId, mf.MFId)">Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>