﻿<div class="modal-header">
    <button type="button" class="close" ng-click="Close()">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <strong class="modal-title">{{title}}</strong>
</div>
<div class="modal-body">
    {{text}}
</div>