﻿<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="Close()">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Relation To Rule</h4>
    </div>
    <div class="modal-body">
        <h4>
            Insert your knowledge in format if-then rules. You can select one or more input variables and choose one of its membership functions. If you want to neglect a variable, choose none. For output variable, you must choose one of its membership functions. 
        </h4>
        <form role="form">
            <div class="form-group col-xs-6">
                <label>Variable</label>
                <select ng-model="RuleMF.VariableId" class="form-control" ng-change="VariableSelected()">
                    <option ng-repeat="variable in variables" value={{variable.VariableID}}>{{variable.VariableName}}</option>
                </select>
            </div>
            <div class="form-group col-xs-6" ng-if="MFs && MFs.length">
                <label>Membership Function</label>
                <select ng-model="RuleMF.MFId" class="form-control">
                    <option ng-repeat="mf in MFs" value={{mf.MFId}}>{{mf.MFName}}</option>
                </select>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="Close()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="AddMFToRule()">Save</button>
    </div>
</div>