﻿<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="Close()">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Variable</h4>
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="form-group col-xs-12">
                <label>Variable Name</label>
                <input type="text" placeholder="Variable Name" class="form-control" ng-model="variable.VariableName" tooltip-placement="top" uib-tooltip="Define input/output variables for your fuzzy inference system. This name must be a string started by alphabetic (e.g. Age, BP, SGOT,…)">
            </div>
            <!--<div class="form-group col-xs-6">
                <label>Variable Index</label>
                <input type="number" placeholder="Variable Index" class="form-control" ng-model="variable.VariableIndex">
            </div>-->
            <div class="form-group col-xs-6">
                <label>Variable Type</label>
                <select ng-model="variable.VariableType" class="form-control">
                    <option value=0>Input</option>
                    <option value=1>Output</option>
                </select>
            </div>
            <div class="form-group col-xs-6">
                <label>Range Min</label>
                <input type="number" placeholder="Range Min" class="form-control" ng-model="variable.RangeMin" tooltip-placement="left" uib-tooltip="You must enter min and max of defined variable in format [min, max] e.g. for variable 'age' you can define a range [0,100]">
            </div>
            <div class="form-group col-xs-6">
                <label>Range Max</label>
                <input type="number" placeholder="Range Max" class="form-control" ng-model="variable.RangeMax" tooltip-placement="left" uib-tooltip="You must enter min and max of defined variable in format [min, max] e.g. for variable 'age' you can define a range [0,100]">
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="Close()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="EditOrAddVariable()">Save</button>
    </div>
</div>
