﻿<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="Close()">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">IT2FIS</h4>
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="form-group col-xs-12">
                <label>FIS name</label>
                <input type="text" placeholder="FIS name" class="form-control" ng-model="system.SystemName" tooltip-placement="top" uib-tooltip="Choose a name for your fuzzy inference system. This name must be an alphabetical string (e.g. MyFIS, Myname, ...)">
            </div>
            <div class="form-group col-xs-6">
                <label>And Method</label>
                <select ng-model="system.AndMethod" class="form-control" tooltip-placement="left" uib-tooltip="AND operator method for combining fuzzified input values in a fuzzy rule antecedent, specified as one of the following: 'min' - Minimum of fuzzified input values and 'prod' - Product of fuzzified input values">
                    <option value=0>Minimum</option>
                    <option value=1>Product</option>
                </select>
            </div>
            <div class="form-group col-xs-6">
                <label>Or Method</label>
                <select ng-model="system.OrMethod" class="form-control" tooltip-placement="left" uib-tooltip="OR operator method for combining fuzzified input values in a fuzzy rule antecedent, specified as one of the following: 'max' — Maximum of fuzzified input values. 'probor' — Probabilistic OR of fuzzified input values. For more information">
                    <option value=0>Maximum</option>
                    <option value=1>ProbabilisticOR</option>
                </select>
            </div>
            <div class="form-group col-xs-6">
                <label>Implication Method</label>
                <select ng-model="system.ImplicationMethod" class="form-control" tooltip-placement="left" uib-tooltip="Implication method for computing the consequent fuzzy set, specified as one of the following: 'min' — Truncate the consequent membership function at the antecedent result value. 'prod' — Scale the consequent membership function by the antecedent result value.">
                    <option value=0>Minimum</option>
                    <option value=1>Product</option>
                </select>
            </div>
            <div class="form-group col-xs-6">
                <label>Aggregation Method</label>
                <select ng-model="system.AggregationMethod" class="form-control" tooltip-placement="left" uib-tooltip="Aggregation method for combining rule consequents, specified as one of the following: 'max' — Maximum of consequent fuzzy sets 'sum' — Sum of consequent fuzzy sets 'probor' — Probabilistic OR of consequent fuzzy sets. For more information">
                    <option value=0>Maximum</option>
                    <option value=1>ProbabilisticOR</option>
                    <option value=2>Sum</option>
                </select>
            </div>
            <div class="form-group col-xs-6">
                <label>Defuzzification Method</label>
                <select ng-model="system.DefuzzificationMethod" class="form-control" tooltip-placement="left" uib-tooltip="Defuzzification method for computing crisp output values from the aggregated output fuzzy set, specified as one of the following: 'centroid' — Centroid of the area under the output fuzzy set 'bisector' — Bisector of the area under the output fuzzy set">
                    <option value=0>CentroidAverage</option>
                    <option value=1>Bisector</option>
                </select>
            </div>
            <div class="form-group col-xs-6">
                <label>TypeReduction Method</label>
                <select ng-model="system.TypeReductionMethod" class="form-control" tooltip-placement="left" uib-tooltip="Type reduction method for converting type-2 fuzzy sets in output to type-1 fuzzy sets. 'Karnik-Mendel' — Iterative method suggested by Karnik and Mendel 'Wu-Tan' — A rapid TR method suggested by Wu and Tan 'Greenfield-Chiclana-Coupland-John' – GCCJ is another rapid method for type reduction suggested by Greenfield, S., Chiclana, F., Coupland, S., John.">
                    <option value=0>Karnik, Mendel</option>
                    <option value=1>Wu, Tan</option>
                    <option value=2>Greenfield, Chiclana, Coupland, John</option>
                </select>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="Close()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="EditOrAddSystem()">Save</button>
    </div>
</div>