﻿<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="Close()">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Membership Function</h4>
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="form-group col-xs-6">
                <label>MF Name</label>
                <input type="text" placeholder="MF Name" class="form-control" ng-model="MF.MFName" tooltip-placement="left" uib-tooltip="Define membership functions associated to each input/output variables. This name must be a string started by alphabetic. For example, you can define three membership function: young, middle, old) for variable 'age'.">
            </div>
            <div class="form-group col-xs-6">
                <label>MF Type</label>
                <select ng-model="MF.MFType" class="form-control" tooltip-placement="left" uib-tooltip="Define membership function type associated to each membership function. 'Triangular MFs' A triangular MF is specified by three parameters {a, b, c} .The parameters {a, b, c} (with a <= b <= c) determine the x coordinates of the three corners of the underlying triangular MF. Also, these parameters must be in the defined range for this variable. 'Trapezoidal MFs' A trapezoidal MF is specified by four parameters {a, b, c, d}. The parameters {a, b, c, d} (with a <= b <= c <= d) determine the x coordinates of the four corners of the underlying trapezoidal MF. Also, these parameters must be in the defined range for this variable.">
                    <option value=0>Triangle</option>
                    <option value=1>Trapezoid</option>
                </select>
            </div>
            <div class="form-group col-xs-6">
                <label>Intervals</label>
                <input type="text" placeholder="Intervals" class="form-control" ng-model="MF.Intervals" tooltip-placement="left" uib-tooltip="If you define a triangular (trapezoidal) membership so you must 3(4) parameters here in format [0, 20, 40]. Also, these parameters must be in the defined range for this variable.">
            </div>
            <div class="form-group col-xs-6">
                <label>FOU</label>
                <input type="number" placeholder="FOU" class="form-control" ng-model="MF.FOU" tooltip-placement="left" uib-tooltip="Enter a number between 0 and 1 that they indicate minimum and maximum degree of uncertainty, respectively.">
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="Close()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="EditOrAddMF()">Save</button>
    </div>
</div>