﻿<!DOCTYPE html>
<html ng-app="wit2fess">
<head>
    <title>WIT2FESS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1000, initial-scale=1, maximum-scale=1, minimum-scale=.1">
    <!--no cache for this fellow-->
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <!--end-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/Resources/images/favicon.png" sizes="32x32" type="image/png">
    <link href="/Resources/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Resources/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Resources/plugins/inspinia/animate.css" rel="stylesheet" />
    <link href="/Resources/plugins/inspinia/style.css" rel="stylesheet" />
    <link href="/Resources/plugins/fileupload/jquery.fileupload.css" rel="stylesheet" />
    <link href="/Resources/plugins/toastr/toaster.min.css" rel="stylesheet" />
    <link href="/Resources/plugins/viewerjs/viewer.css" rel="stylesheet" />
    <!--Customization-->
    <link href="/Resources/styles/layout.css" rel="stylesheet" />
</head>
<body ng-controller="indexCtrl">
    <toaster-container></toaster-container>
    <div ui-view></div>
    <script src="/Resources/plugins/jquery/jquery-2.1.1.js"></script>
    <script src="/Resources/plugins/jquery/jquery-ui-1.10.4.min.js"></script>
    <script src="/Resources/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Resources/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/Resources/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/Resources/plugins/pace/pace.min.js"></script>
    <script src="/Resources/plugins/inspinia/inspinia.js"></script>
    <script src="/Resources/plugins/chartJs/Chart.min.js"></script>
    <!--Not Inspinia-->
    <script src="/Resources/plugins/fileupload/jquery.fileupload.js"></script>
    <script src="/Resources/plugins/viewerjs/viewer.js"></script>
    <!-- Main Angular scripts-->
    <script src="/Resources/plugins/angularjs/angular.min.js"></script>
    <script src="/Resources/plugins/angularjs/angular-sanitize.js"></script>
    <script src="/Resources/plugins/oclazyload/ocLazyLoad.min.js"></script>
    <script src="/Resources/plugins/angularjs/angular-ui-router.min.js"></script>
    <script src="/Resources/plugins/bootstrap/js/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="/Resources/plugins/angular-idle/angular-idle.js"></script>
    <script src="/Resources/plugins/angularjs/angular-route.min.js"></script>
    <script src="/Resources/plugins/toastr/toaster.min.js"></script>
    <!-- Anglar App Script -->
    <script src="/Angular/app.js"></script>
    <script src="/Angular/config.js"></script>
    <script src="/Angular/services.js"></script>
    <script src="/Resources/plugins/inspinia/directives.js"></script>
    <script src="/Angular/directives.js"></script>
    <!--Controllers-->
    <script src="/Angular/controllers/indexCtrl.js"></script>
    <script src="/Angular/controllers/homeCtrl.js"></script>
    <script src="/Angular/controllers/profileCtrl.js"></script>
    <script src="/Angular/controllers/registerCtrl.js"></script>
    <script src="/Angular/controllers/user/systemsCtrl.js"></script>
    <script src="/Angular/controllers/user/evaluationCtrl.js"></script>
</body>
</html>
